<template>
  <main class="about">
	<HeaderBar/>

	<section class="about-content">
		<h1>NITE Revives Tool</h1>
		<p>
			Start by pressing 'KEY' above to enter your torn API key. A limited key works fine. Next, open the faction chooser next to it and enter a faction ID to start querying. 
		</p>
		<p>
			To upload a custom list of players to watch, create a .csv file, and inside it write each player ID seperated by commas, like "301,9424,77444,908182" and click upload within the faction chooser.
		</p>
	</section>
  </main>
</template>

<style scoped>
section {
	padding: 20px;
}
</style>

<script>
import HeaderBar from '../components/HeaderBar.vue'
export default {
	components: { HeaderBar }
	
}

</script>
