<template>
    <main class="dashboard-view">
    </main>
</template>

<script>
import MembersTable from '../components/MembersTable.vue'
import HeaderBar from '../components/HeaderBar.vue'
import FilterBar from '../components/FilterBar.vue'
import { toRaw } from 'vue';
import {  HospStatusSettings, OnlineStatusSettings, LocationStatusSettings } from '../stores/filters';

export default {
    'name': 'Dashboard',
    components: { FilterBar, HeaderBar, MembersTable },

    computed: {
    }
}
</script>

<style lang="scss">

main.dashboard-view {
    display: grid;
    grid-template-areas: "topbar" "content" "bottombar";
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    flex: 1;
    
    @include only-desktop {
        grid-template-areas: "topbar" "bottombar" "content";
        grid-template-rows: auto auto 1fr ;
    }
}

#dashboard-header {
    grid-area: topbar;
    min-height: 60px;
    max-height: max-content;
}

.members-table {
    grid-area: content;
    width: 100%;
    margin: 0 auto;
    max-height: 100%;
}


.member-filter-bar  {
    grid-area: bottombar;
}

</style>