<template>
	<main class="faction-view">
		<HeaderBar/>
	
		<MembersTable :members="filtered_members" v-if="filtered_members.length"/>

		<FilterBar :members="filtered_members"/>
	</main>
</template>

<script>
import MembersTable from '../components/MembersTable.vue'
import HeaderBar from '../components/HeaderBar.vue'
import FilterBar from '../components/FilterBar.vue'
import { toRaw } from 'vue';
import {  HospStatusSettings, OnlineStatusSettings, LocationStatusSettings } from '../stores/filters';

export default {
	'name': 'View Faction',
	components: { FilterBar, HeaderBar, MembersTable },

	computed: {
		current_faction_id() {

			return parseInt(this.$route.params.faction_id, 10);
		},

		filters() {
			return this.store.filters;

		},

		filtered_members() {
			const faction_members = this.store.member.faction_members[this.current_faction_id];
			if (faction_members) {
				return Object.values(faction_members).filter(member => {
					if (member.pinned) return true;
		
					if (this.filters.current_filters.hospitalized != HospStatusSettings.ALL && member.hosp_type != this.filters.current_filters.hospitalized) return false;
					
					if (member.location_type && (this.filters.current_filters.location != LocationStatusSettings.ALL && member.location_type != this.filters.current_filters.location)) return false;
					
					if (this.filters.current_filters.online === OnlineStatusSettings.ALL) {}
					else if (this.filters.current_filters.online === OnlineStatusSettings.ONLINE_IDLE ) {
						if ( !(
							member.online_type === OnlineStatusSettings.ONLINE 
							|| member.online_type === OnlineStatusSettings.IDLE
						)) return false;
					} 
					else if (member.online_type !== this.filters.current_filters.online) return false;
					
					if (this.filters.current_filters.level === 0 ) {}
					else if (this.filters.current_filters.level > 0 && member.level < this.filters.current_filters.level) return false;
					else if (this.filters.current_filters.level < 0 && member.level > this.filters.current_filters.level) return false;
					
					if (this.filters.current_filters.revivable && (member.revivable !== 1 && member.revivable !== true)) return false;
	
					return true;
				});
			} else return [];

		},
	},

	watch: {
		current_faction_id: {
			immediate: true,
			handler: function(value) {
				this.store.fetchSingleFaction(value)
				
			}
		}
	}
}
</script>

<style lang="scss">

main.faction-view {
	display: grid;
	grid-template-areas: "topbar" "content" "bottombar";
	grid-template-rows: auto minmax(0px, 1fr) auto;
	grid-template-columns: minmax(0px, 1fr);
	overflow: hidden;
	flex: 1;
	
	
	
	@include only-desktop {
		grid-template-areas: "topbar" "bottombar" "content";
		grid-template-rows: auto auto 1fr ;
	}
}

#dashboard-header {
	grid-area: topbar;
	min-height: 60px;
	max-height: max-content;
}

.members-table {
	grid-area: content;
	width: 100%;
	margin: 0 auto;
	max-height: 100%;
}


.member-filter-bar  {
	grid-area: bottombar;
}

</style>