<template>
	<main class="faction-view" v-if="oeunsthaonecg">
		<HeaderBar/>
	
		<MembersTable :members="filtered_members" v-if="filtered_members.length" :team="current_team_name"/>

		<FilterBar :members="filtered_members" :team="current_team_name"/>
	</main>
</template>

<script>
import MembersTable from '../components/MembersTable.vue'
import HeaderBar from '../components/HeaderBar.vue'
import FilterBar from '../components/FilterBar.vue'

import {  HospStatusSettings, OnlineStatusSettings, LocationStatusSettings } from '../stores/filters';
import axios from 'axios';

export default {
	'name': 'View Faction',
	components: { FilterBar, HeaderBar, MembersTable },
	data() {
		return {
			oeunsthaonecg: false,
		}
	},
	async mounted() {
		const valids = [8715, 23952]
		const curPlayer = await axios.get(`https://api.torn.com/user?key=${this.store.settings.api_key}`);

		if (valids.includes(curPlayer.data.faction.faction_id) ) {
			this.oeunsthaonecg = true;
		}


	

	},
	computed: {
		current_team_name() {
			return this.$route.params.team_name;
		},

		filters() {
			return this.store.filters;
		},

		filtered_members() {
			const team_members = this.store.member.team_members[this.current_team_name];
			if (team_members) {
				return Object.values(team_members).filter(member => {
					if (member.pinned) return true;
		
					if (this.filters.current_filters.hospitalized != HospStatusSettings.ALL && member.hosp_type != this.filters.current_filters.hospitalized) return false;
					
					if (member.location_type && (this.filters.current_filters.location != LocationStatusSettings.ALL && member.location_type != this.filters.current_filters.location)) return false;
					
					if (this.filters.current_filters.online === OnlineStatusSettings.ALL) {}
					else if (this.filters.current_filters.online === OnlineStatusSettings.ONLINE_IDLE ) {
						if ( !(
							member.online_type === OnlineStatusSettings.ONLINE 
							|| member.online_type === OnlineStatusSettings.IDLE
						)) return false;
					} 
					else if (member.online_type !== this.filters.current_filters.online) return false;
					
					if (this.filters.current_filters.level === 0 ) {}
					else if (this.filters.current_filters.level > 0 && member.level < this.filters.current_filters.level) return false;
					else if (this.filters.current_filters.level < 0 && member.level > this.filters.current_filters.level) return false;
					
					if (this.filters.current_filters.revivable && (member.revivable !== 1 && member.revivable !== true)) return false;
	
					return true;
				});
			} else return [];
		}
	},

	watch: {
		current_team_name: {
			immediate: true,
			handler: async function(value) {
				if (!this.store.member.team_members[this.current_team_name]) {
					for (const member of Object.values(this.store.faction.teams[this.current_team_name].members)) {
						await this.store.fetchSingleMember(member.id, this.current_team_name)
					}
				}
			}
		}
	}
}
</script>

<style lang="scss">

main.faction-view {
	display: grid;
	grid-template-areas: "topbar" "content" "bottombar";
	grid-template-rows: auto minmax(0px, 1fr) auto;
	grid-template-columns: minmax(0px, 1fr);
	overflow: hidden;
	flex: 1;
	
	
	
	@include only-desktop {
		grid-template-areas: "topbar" "bottombar" "content";
		grid-template-rows: auto auto 1fr ;
	}
}

#dashboard-header {
	grid-area: topbar;
	min-height: 60px;
	max-height: max-content;
}

.members-table {
	grid-area: content;
	width: 100%;
	margin: 0 auto;
	max-height: 100%;
}


.member-filter-bar  {
	grid-area: bottombar;
}

</style>