<template>
    <div class="member-filter-bar">
        <!-- Actions -->
        <button id="refresh-all" @click="refreshAll" title="Refresh All" :disabled="disabled.refresh_all">
            <span class="desktop-label">
                Refresh All
            </span>
            <IconRefresh/>
        </button>
    
        <button id="refresh-visible" @click="refreshVisible" title="Refresh Visible" :disabled="disabled.refresh_visible">
            <span class="desktop-label">
                Refresh {{ filtered_members.length }} Visible
            </span>
            <span class="icon-stack">
                <IconEye/>
                <IconRefresh/>
            </span>
            <span class="mobile-label">
                &nbsp; {{ filtered_members.length }}
            </span>
        </button>
        
        <button id="refresh-pinned" @click="refreshPinned" title="Refresh Pinned" :disabled="disabled.refresh_pinned">
            <span class="desktop-label">
                Refresh {{ pinned_members.length }} Pinned
            </span>
            <span class="icon-stack">
                <IconPin/>
                <IconRefresh/>
            </span>
            <span class="mobile-label">
                &nbsp; {{ pinned_members.length }}
            </span>
        </button>
    
        <button id="toggle-filters" @click="show_filters = !show_filters">
            <span class="desktop-label">
                {{ show_filters ? 'Hide' : 'Filters' }}
            </span>
            <IconFilter />
        </button>

        <!-- Hidden Filters -->
        <div class="member-filters" :class="{'open':  show_filters}">
            <div class="member-filter">
                 <input type="checkbox" v-model="revivable" id="revive-filter"/>
                 <label for="revive-filter">Revivable</label>
             </div>
     
             <div class="member-filter">
                 <label for="online-filter">Online:</label>
                 <select v-model="online" id="online-filter">
                     <option v-for="value in Object.values(OnlineStatusSettings)" :key="`online-filter-option-${value}`" :value="value">
                         {{ value }}
                     </option>
                 </select>
             </div>
             
             <div class="member-filter">
                 <label for="hospital-filter">Hospital:</label>
                 <select v-model="hospitalized" id="hospital-filter">
                     <option v-for="value in Object.values(HospStatusSettings)" :key="`hosp-filter-option-${value}`" :value="value">
                         {{ value }}
                     </option>
                 </select>
             </div>
     
             <div class="member-filter">
                 <label for="location-filter">Location:</label>
                 <select v-model="location" id="location-filter">
                     <option v-for="value in Object.values(LocationStatusSettings)" :key="`location-filter-option-${value}`" :value="value">
                         {{ value }}
                     </option>
                 </select>
             </div>
             
             <div class="member-filter">
                 <label for="level-filter">Level +/-:</label>
                 <input type="text" v-model="level" id="level-filter"/>
             </div>

             <div class="member-filter">
                <button title="Copy all visible users to the clipboard" @click="copyVisible">
                    Copy Visible
                </button>
             </div>
        </div>
    </div>
</template>

<script>
import IconPin from './icons/IconPin.vue'
import IconEye from './icons/IconEye.vue'
import IconRefresh from './icons/IconRefresh.vue'
import IconFilter from './icons/IconFilter.vue'
import {  HospStatusSettings, OnlineStatusSettings, LocationStatusSettings } from '../stores/filters';

export default {
    components: { IconRefresh, IconEye, IconPin, IconFilter },
    props: ["members", 'team'],
    data() {
        return {
            HospStatusSettings, OnlineStatusSettings, LocationStatusSettings,
            show_filters: false,
            disabled: {
                refresh_all: false,
                refresh_visible: false,
                refresh_pinned: false,
            }
        }
    },

    

    methods: {
        async fetchMembers(member_ids) {
            for (const id of member_ids) {
                await this.store.fetchSingleMember(id, this.team);
            }
        },

        async refreshAll() {
            this.disabled.refresh_all = true;
            await this.fetchMembers(Object.keys(this.store.faction.current_faction.members));
            this.disabled.refresh_all = false;
        },

        async refreshVisible() {
            this.disabled.refresh_visible = true;
			if (!this.team) {
				await this.store.fetchSingleFaction(this.store.faction.selected_faction_id); 
			}
            this.$nextTick(async () => {
                await this.fetchMembers(this.filtered_members.map(member => member.id));
                this.disabled.refresh_visible = false;
            }); 
        },

        async refreshPinned() {
            this.disabled.refresh_pinned = true;
            await this.fetchMembers(this.filtered_members.filter(member => member.pinned).map(member => member.id));
            this.disabled.refresh_pinned = false;
        },

        copyVisible() {
            const data = this.filtered_members.map(member => `- [${member.name}] https://torn.com/profiles.php?XID=${member.id}`);
            const text = data.join('\n');
            navigator.clipboard.writeText(text);
            this.show_filters = false;
        }
    },
    computed: {
        revivable:  {
            set(value) {
                this.store.filters.setFilter('revivable', value);
            },
            
            get() {
                return this.store.filters.current_filters.revivable
            }
        },

        online:  {
            set(value) {
                this.store.filters.setFilter('online', value);
            },
            
            get() {
                return this.store.filters.current_filters.online
            }
        },

        hospitalized:  {
            set(value) {
                this.store.filters.setFilter('hospitalized', value);
            },
            
            get() {
                return this.store.filters.current_filters.hospitalized
            }
        },
        
        location:  {
            set(value) {
                this.store.filters.setFilter('location', value);
            },
            
            get() {
                return this.store.filters.current_filters.location
            }
        },

        level:  {
            set(value) {
                this.store.filters.setFilter('level', value);
            },
            
            get() {
                return this.store.filters.current_filters.level
            }
        },

        current_faction_id() {
			return parseInt(this.$route.params.faction_id, 10);
		},
		current_team_name() {
			return this.$route.params.team_name;
		},

		players() {
			let faction_members;
			if (this.team) {
				faction_members = this.store.member.team_members[this.current_team_name];
			} else {
				faction_members = this.store.member.faction_members[this.current_faction_id];
			}
			return faction_members;
		},

		filtered_members() {
			const faction_members = this.players;
			if (faction_members) {
				return Object.values(faction_members).filter(member => {
					if (member.pinned) return true;
		
					if (this.store.filters.current_filters.hospitalized != HospStatusSettings.ALL && member.hosp_type != this.store.filters.current_filters.hospitalized) return false;
					
					if (member.location_type && (this.store.filters.current_filters.location != LocationStatusSettings.ALL && member.location_type != this.store.filters.current_filters.location)) return false;
					
					if (this.store.filters.current_filters.online === OnlineStatusSettings.ALL) {}
					else if (this.store.filters.current_filters.online === OnlineStatusSettings.ONLINE_IDLE ) {
						if ( !(
							member.online_type === OnlineStatusSettings.ONLINE 
							|| member.online_type === OnlineStatusSettings.IDLE
						)) return false;
					} 
					else if (member.online_type !== this.store.filters.current_filters.online) return false;
					
					if (this.store.filters.current_filters.level === 0 ) {}
					else if (this.store.filters.current_filters.level > 0 && member.level < this.store.filters.current_filters.level) return false;
					else if (this.store.filters.current_filters.level < 0 && member.level > this.store.filters.current_filters.level) return false;
					
					if (this.store.filters.current_filters.revivable && (member.revivable !== 1 && member.revivable !== true)) return false;
	
					return true;
				});
			} else return [];

		},
        pinned_members() {
			if (this.players) return Object.values(this.players).filter(player => player.pinned);
			else return [];
            // return this.store.member.current_faction_members.filter(m => m.pinned);
        }
    }
}
</script>

<style lang="scss" scoped>
.member-filter-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px 20px;
    background-color: #141414;
    position: relative;
}

.member-filters {
    display: none;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 5px;

    @include only-mobile {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        background-color: #141414;
        padding: 10px 20px;
    }
    &.open {
        display: flex;
    }

    label + input, label + select,
    input + label, select + label {
        margin-left: 5px;
    }

    .member-filter {
        display: flex;
        align-items: center;
        column-gap: 2px;
    }

    & > button:last-of-type {
        margin-left: auto;
    }
}

.desktop-label {
    display: none;
    
    @include only-desktop {
        display: block;
    }
}

.mobile-label {
    @include only-desktop {
        display: none;
    }
}

#level-filter {
    width: 50px;
}




</style>