<template>
    <div id="dashboard-header">
        <span class="faction-input">
            <select-options :options="faction_options" v-model="current_route" class="faction-select">
                <div class="add-faction-input">
					<input type="text" v-model="new_faction_id" placeholder="New Faction ID" />
                    <button id="add-faction" @click="addFaction">
                        ADD
                    </button>
					<button id="upload-team" @click="show_add_team_modal = true">UPLOAD</button>
                </div>
            </select-options>
            <button id="get-faction" @click="fetchFactionInfo">
                GET
            </button>
        </span>

        <span>
            <input type="text" v-if="key_input_visible || !api_key" v-model="api_key" placeholder="API Key" />
            <button id="toggle-api-key" @click="key_input_visible = !key_input_visible">
                {{ key_input_visible ? 'HIDE' : 'KEY' }}
            </button>
        </span>

        <span class="quota-info">
            <label title="How many requests you can make in the next minute">
                API Quota:
            </label>

            <span class="quota-usage" :class="{
                'red': quota_remaining < 26,
                'green': quota_remaining === 100
            }">
                {{ quota_remaining }} <span class="white">/ 100</span>
            </span>
        </span>

        <!-- <span class="autorefresh-settings">
            <input type="checkbox" id="refresh-continuously" v-model="autorefresh_enabled" />
            <label for="refresh-continuously">Auto-Refresh</label>
        </span> -->
    </div>

	<modal :open="show_add_team_modal" @close="show_add_team_modal = false" >
		<template #header>Add a team</template>
		<template #body >
			<div class="new-team-modal">
				<input type="text" id="team-name-input" v-model="new_team_name" placeholder="Team Name"/>

				<input type="file" @change="setImportedFile" accept=".csv" ref="importDataInput">

				<button id="import-team" @click="importTeam" :disabled="!valid_team || !new_team_name.length">Add</button>
				<span >The new team will have {{ new_team_member_ids ? new_team_member_ids.length : 0 }} members.</span>
			</div>

		</template>
	</modal>
</template>

<script>
import Modal from './UI/Modal.vue'
import SelectOptions from './UI/SelectOptions.vue'

export default {
    components: { SelectOptions, Modal },
    data() {
        return {
            key_input_visible: false,
            selected_faction: null,
			show_add_team_modal: false,
			imported_file: null,
			valid_team: false,
			new_team_name: '',
			new_team_member_ids: null,
        }
    },

    methods: {
        fetchFactionInfo() {
			if (Number.isInteger(this.faction_id) ) {
				this.store.fetchSingleFaction(this.faction_id);
			}
        },

        addFaction() {
            this.store.fetchSingleFaction(this.new_faction_id);
            this.new_faction_id = '';
        },

		setImportedFile(event) {
			const file = this.$refs.importDataInput.files[0];
			const reader = new FileReader();

			reader.onloadend = async () => {
				try {
					const data = reader.result.split(',').map(id => id.replaceAll(' ',''));
					this.new_team_member_ids = data;
					this.valid_team = true;
					
				} catch (error) {
					console.log("ERROR PARSING IMPORTED FILE:", error);
				}
			}
			reader.readAsText(file);
		},

		importTeam() {
			const team = {
				name: this.new_team_name,
				id: this.new_team_name,
				ID: this.new_team_name,
				members: this.new_team_member_ids.reduce((members, id) => {
					members[id] = {id: id, name: `Unknown[${id}]`};
					return members;
				}, {}),
			};
			
			this.store.faction.addTeam(team);
			this.store.faction.selectTeam(team.name);
			this.show_add_team_modal = false;
		}
    },

    computed: {
        api_key: {
            get() {
                return this.store.settings.api_key;
            },
            set(value) {
                this.store.settings.setApiKey(value);

            },
        },

		current_route: {
			get() {
				return this.$route.path;
			},

			set(value) {
				this.$router.push(value);
			}
		},
        
        faction_id: {
            get() {
                return this.$route.params.faction_id ? parseInt(this.$route.params.faction_id, 10) : null;
            },
            set(value) {
				if (Number.isInteger(value)) {
					if (!this.store.faction.factions[value]) {
						this.store.fetchSingleFaction(value);
					}
					this.$router.push(value);
					// this.store.faction.selectFaction(value);
				} else {
					// this.store.faction.selectTeam(value);
					this.$router.push(value)
				}
            },
        },

        new_faction_id: {
            get() {
                return this.store.input.faction_id;
            },
            set(value) {
                this.store.input.setFactionId(value);
            },
        },

        quota_remaining() {
            return this.store.api.quota_remaining;
        },

        autorefresh_enabled: {
            get() {
                return this.store.settings.autorefresh.enabled
            },
            
            set(value) {
                this.store.settings.setAutorefreshEnabled(value);
            },
        },

        faction_options() {
			return [
				...Object.values(this.store.faction.factions).map(f => ({label: f.name, value: `/faction/${f.id}`})),
				...Object.values(this.store.faction.teams).map(t => ({label: t.name, value: `/team/${t.name}`}))
			];
        },
    }
}
</script>

<style lang="scss" scoped>
#dashboard-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px;
    column-gap: 25px;
    row-gap: 5px;
    background-color: #1d1d1d;
}


.quota-info {
    display: flex;
}


.autorefresh-settings {
    display: flex;
    align-items: center;
    gap: 10px;
}

// MOBILE ONLY:
@include only-mobile {
    .quota-info label {
        display: none;
    }
}

.faction-input {
    display: flex;
    align-items: center;
}

.add-faction-input {
    input {
        width: 150px;
        max-width: 100%;
    }
    button {
        margin-left: auto;
    }
}

.new-team-modal {
	display: flex;
	flex-direction: column;

	row-gap: 10px;
}
</style>
