<template>
	<div class="members-table">
		<table :key="`faction-${selected_faction_id}`">
			<thead>
				<th>Actions</th>
				<th>Player</th>
				<th>Revivable</th>
				<th>Hospitalized</th>
				<th>Online</th>
				<th>Location</th>
				<th>Level</th>
				<th>Last Online</th>
				<th>Last Synced</th>
			</thead>
			<tbody>
				<member-row :member="member" v-for="member in members" :key="`member-table-row-${member.id}`" :team="team"/>
			</tbody>
		</table>
	</div>
</template>

<script>
import MemberRow from './MemberRow.vue'

export default {
	components: { MemberRow },
	props: ["members", "team"],
	computed: {
		selected_faction_id() {
			return this.$route.params.faction_id || this.$route.params.team_name;
		}
	}
}
</script>

<style lang="scss">

.members-table {
	overflow: auto;

	table {
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
	
	tbody {
		overflow: auto;
	}
	
	thead {
		position: sticky;
		top: 0;
		left: 0;
		background-color: #111;
	}
	th {
		padding: 5px 3px;
	}

	@include only-large-desktop {
		th {
			padding: 10px 15px;
		}
	}
	
	td button {
		margin-right: 2px;
	}

	tr:nth-child(odd) {
		background-color: #222;
	}
	
	
	/* MOBILE */
	@include only-mobile {
		thead th {
			display: none;
		}
	}
}

</style>