<template>
    <tr class="member-row">
        <td class="member-actions">
            <button class="member-refresh" @click="refresh" title="Refresh" :disabled="disabled">
                <IconRefresh/>
            </button>
            
            <button class="member-revive" :class="revive_class" @click="revive" title="Revive">
                <IconRevive/>
            </button>

            <button class="member-pin" :class="pinned_class" @click="pin" title="Pin">
                <IconPin/>
            </button>
        </td>

        <td class="name">
            <a :href="`https://torn.com/profiles.php?XID=${member.id}`" target="_blank">
                {{ member.name }}
            </a>
        </td>

        <td class="revivable">
            <th>Revivable</th>
            <span :class="revivable_class">
                {{ member.revivable === undefined ? '?' : member.revivable ? 'YES' : 'NO' }}
            </span>
        </td>

        <td  class="hospital">
            <!-- Hosp Status -->
            <span :class="hosp_class">
                {{ member.hosp_type.replace('_', ' ') }}
            </span>
        </td>

        <td class="online">
            <!-- Online Status -->
            <span :class="online_class">
                {{ member.online_type }}
            </span>
        </td>

        <td class="location" :class="{'hidden': location_setting !== 'ALL' || !member.location_type }">
            <!-- Location -->
            {{ member.location_type?.replace('_', ' ') || '?' }}
        </td>

        <td class="level">
            <th>Level</th>
            {{ member.level }}
        </td>

        <td class="last_action">
            <th>Last Online</th>
            {{ member.last_action.relative }}
        </td>

        <td class="sync">
            <th>Synced</th> <wbr/>
            <template v-if="member.last_full_sync">
                {{ ((now - member.last_full_sync) / 1000).toFixed(0) }}s ago
            </template>
            <template v-else>
                Never
            </template>
        </td>
    </tr>
</template>

<script>
import IconPin from './icons/IconPin.vue'
import IconRevive from './icons/IconRevive.vue'
import IconRefresh from './icons/IconRefresh.vue';

export default {
    props: ["member", "team"],
    data() {
        return {
            disabled: false,
        }
    },
    methods: {
        async refresh() {
            this.disabled = true;
            await this.store.fetchSingleMember(this.member.id);
            this.disabled = false;
        },
        revive() {
            window.open(`https://torn.com/profiles.php?XID=${this.member.id}`, '_blank');
        },
        pin() {
            this.store.member.togglePinned(this.member, this.team);
        }
    },
    mounted() {
        
    },
    computed: {
        hosp_class() {
            return {
                "green": this.member.hosp_type === "HOSPITALIZED",
                "yellow": this.member.hosp_type === "IN_HOSPITAL",
                "red": this.member.hosp_type === "HEALTHY"
            };
        },
        online_class() {
            return {
                "green": this.member.online_type === "ONLINE",
                "yellow": this.member.online_type === "IDLE",
                "red": this.member.online_type === "OFFLINE"
            };
        },
        revivable_class() {
            return {
                "red": !this.member.revivable,
                "green": this.member.revivable
            };
        },

        pinned_class() {
            return {
                'pinned': this.member.pinned,
            }
        },
        revive_class() {
            return {
                'priority': this.member.online_type === 'ONLINE' && this.member.revivable === true && this.member.hosp_type !== 'HEALTHY',
            }
        },

        now() {
            return this.store.now;
        },

        location_setting() {
            return this.store.filters.current_filters.location;
        }
    },
    components: { IconRefresh, IconRevive, IconPin }
}
</script>

<style lang="scss" scoped>
    @include only-large-desktop {
        td, th {
            padding: 2px 15px;
        }
    }

    .member-actions {
        display: flex;
        column-gap: 10px;
        align-items: center;
        row-gap: 5px;
    }

    td, th {
        text-align: center;
    }

    td th {
        display: none;
    }

    .member-pin.pinned .icon{
        color: green;
    }

    .member-actions button {
        border: 1px solid transparent;
    }
    .member-revive.priority {
        border: 1px dashed white;
        .icon {
            color: green;
        }
    }

    // MOBILE
    @include only-mobile {
        td {
            
        }

        .members-table {
            table, tbody {
                display: block;
            }
        }
        tr.member-row {
            padding: 2px 5px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            column-gap: 0px;
            row-gap: 5px;
            margin-top: 7px;
            margin-bottom: 7px;
            justify-content: space-between;
        }
        .member-actions {
            column-gap: 5px;
            justify-content: flex-end;
            margin-left: auto;
        }
        td button {
            display: block;
            margin-bottom: 2px;
        }

        td.level, 
        td.last_action  {
            display: none;
        }
        
 
        td th {
            padding-left: 0;
        }
        td {
            padding: 2px;
            order: 6;
            display: flex;
            column-gap: 1px;
            align-items: center;

            &.hidden {
                display: none;
            }
            &.name {
                order: 1;
                margin-right: auto;
            }

            &.online {
                order: 2;
            }
            &.hospital {
                order: 4;
                min-width: 50%;
            }
            &.revivable {
                order: 3;
            }
            &.member-actions {
                order: 11;
            }

            &.name, &.online, &.revivable, &.sync {
                flex-basis: 50%;
                max-width: 50%;
            }
            &.sync {
                order: 6;
                flex-basis: unset;
            }
            
            &.location {
                margin-right: 100px;
            }

            &.online, &.hospital, &.member-actions {
                justify-content: flex-end;
            }
        }
        
        td th {
            display: table-cell;
        }
        
        td th:after {
            content: ':';
        }
    }
</style>