* {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
}

.red,
.green,
.yellow {
    font-weight: 600;
}

label + span {
    margin-left: 5px;
}

input {
    display: inline-block;
    min-width: 0px;
    height: 40px;
    background: black;
    color: #ebebeb;
    border: none;
    padding: 5px 10px;
}

button {
    border: none;
    background: #090909;
    padding: 5px 15px;
    min-height: 40px;
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:disabled {
        pointer-events: none;
        opacity: .8;
    }
}

select {
    background: black;
    color: white;
    border: none;
    height: 40px;
    padding: var(--input-padding-y) var(--input-padding-x);
    padding-right: 0;
    display: inline-block;
}

a {
    color: var(--link-color);
}


