@import "./variables";
@import "./base";

html, body, #app {
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
    width: 100vw;
    height: var(--vh-100, 100vh);
    color: #ededed;
    overflow: hidden;
}

main {
    overflow: auto;
    height: 100%;
    width: 100%;
}

.red {
    color: #aa1111;
}

.yellow {
    color: #ffcc00;
}
.green {
    color: #119911;
}

.white {
    color: #eaeaea;
}

.icon {
    width: 24px;
    height: 20px;
    padding: 0 2px;
    color: white;
    fill: currentColor;
    stroke: currentColor;
    margin-left: .25rem;

    &--eye {
        width: 32px;
    }

    &--filter {
        stroke: none;
        height: 24px;
    }
}

.icon-stack {
    position: relative;
    .icon {
        margin-left: 0;
    }
    .icon + .icon {
        width: 14px;
        height: auto;
        position: absolute;
        top: -1px;
        right: -8px;
        margin-left: 0;
    }

}

