:root {
    --link-color: #faab00;

    --input-padding-x: 10px;
    --input-padding-y: 5px;
    --vh-100: calc(var(--vh-1) * 100);
}

$largest-mobile: 512px;
$large-desktop: 1200px;
@mixin only-mobile {
    @media screen and (max-width: $largest-mobile) {
        @content;
    }
}

@mixin only-desktop {
    @media screen and (min-width: $largest-mobile) {
        @content;
    }
}

@mixin only-large-desktop {
    @media screen and (min-width: $large-desktop) {
        @content;
    }
}


