<template>
    <svg class="icon icon--revive" xmlns="http://www.w3.org/2000/svg" height="100" width="100"  y="0px" x="0px" viewBox="0 0 100 100" data-name="Layer 1">
        <g transform="matrix(1.09266,0,0,1.09266,-4.7665413,-4.4659133)" id="g22">
            <path 
                stroke-width="5"
                stroke="currentColor"
                d="m 47.29,86.91 a 3.89,3.89 0 0 0 5.42,0 L 84.86,55.86 a 26.24,26.24 0 0 0 0,-36.37 A 21.6,21.6 0 0 0 69.2,12.93 H 69 A 28,28 0 0 0 50,20.8 C 43.84,14.95 38.1,12 32.93,12 A 24.67,24.67 0 0 0 15.14,19.5 26.1,26.1 0 0 0 7.86,39.29 1.0017984,1.0017984 0 0 0 9.86,39.17 24.1,24.1 0 0 1 16.58,20.89 22.68,22.68 0 0 1 32.93,14 c 4.79,0 10.24,2.95 16.21,8.76 a 1.22,1.22 0 0 0 1.74,0 A 26.07,26.07 0 0 1 69,14.94 h 0.16 a 19.64,19.64 0 0 1 14.24,6 24.24,24.24 0 0 1 0,33.55 l -32.14,31 a 1.9,1.9 0 0 1 -2.64,0 l -22,-21.25 a 1.0007122,1.0007122 0 1 0 -1.39,1.44 z"
                id="path4" 
            />
            <path 
                stroke-width="3"
                stroke="currentColor"
                d="m 30.59,55.68 a 1,1 0 0 0 1.78,-0.17 l 7,-17.9 6.14,24.31 a 1,1 0 0 0 0.85,0.75 h 0.12 a 1,1 0 0 0 0.89,-0.54 l 7.53,-14.42 3.46,6.17 a 1,1 0 0 0 0.87,0.51 h 9.29 a 1,1 0 0 0 0,-2 h -8.7 l -4.08,-7.27 a 1,1 0 0 0 -1.76,0 L 46.76,58.88 40.5,34.08 A 1,1 0 0 0 38.6,34 L 31.23,53 26.15,44.9 A 1,1 0 0 0 25.3,44.43 v 0 a 1,1 0 0 0 -0.85,0.47 l -4.65,7.49 h -7.65 a 1,1 0 0 0 0,2 h 8.2 a 1,1 0 0 0 0.85,-0.47 l 4.11,-6.66 z"
                id="path6" 
            />
        </g>
    </svg>
</template>