<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
		<path d="M4.34 2.93l12.73 12.73-1.41 1.41L2.93 4.35z" fill="currentColor"/>
		<path d="M17.07 4.34L4.34 17.07l-1.41-1.41L15.66 2.93z" fill="currentColor"/>
	</svg>
</template>
