<template>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 5 20 10" class="icon icon--eye">
        <path style="fill:currentColor;fill-opacity:1;stroke:none;color:white"
            d="M 11 6 A 10 9.999975 0 0 0 2.3144531 11.070312 C 2.4995621 11.361743 2.7600802 11.597238 3.0664062 11.759766 A 9 8.999978 0 0 1 11 7 A 4 4 0 0 0 7 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 11 A 4 4 0 0 0 11.34375 7.0175781 A 9 8.999978 0 0 1 18.931641 11.761719 C 19.241063 11.598077 19.503624 11.359298 19.689453 11.064453 A 10 9.999975 0 0 0 11 6 z M 11 8 A 3 3 0 0 1 14 11 A 3 3 0 0 1 11 14 A 3 3 0 0 1 8 11 A 3 3 0 0 1 11 8 z M 11 9 C 9.892 9 9 9.892 9 11 C 9 12.108 9.892 13 11 13 C 12.108 13 13 12.108 13 11 C 13 10.79519 12.960983 10.601795 12.904297 10.416016 C 12.746415 10.759733 12.404317 11 12 11 C 11.446 11 11 10.554 11 10 C 11 9.595683 11.240267 9.2535881 11.583984 9.0957031 C 11.398205 9.0390231 11.20481 9 11 9 z "
            class="ColorScheme-Text"  />
    </svg>
</template>