<template>
	<RouterView />
</template>

<script>
export default {
    mounted() {
        const faction_id = this.store.faction.selected_faction_id;
        if ( faction_id && ! this.store.member.faction_members[faction_id]) {
            this.store.fetchSingleFaction(faction_id);
        }
        setInterval(() => {
            this.store.setNow(Date.now());
        }, 1000);
    }
}

</script>

<style>

</style>
