<template>
	<div v-if="open" class="modal-backdrop" @click.self="close">
		<dialog class="modal" :open="open">
			<header>
				<slot name="header"></slot>
				<IconClose @click="close" />
			</header>
	
			<section>
				<slot name="body"></slot>
			</section>
			
			<footer>
				<slot name="footer"></slot>
			</footer>
		</dialog>
	</div>
</template>

<script>
import IconClose from '../icons/IconClose.vue'
export default {
	components: { IconClose },
	props: {
		open: Boolean
	},
	methods: {
		close() {
			this.$emit('close')
		}
	}
}
</script>

<style lang="scss" scoped>

	.modal-backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #0007;

		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0;
		z-index: 1000;
	}

	.modal {
		appearance: none;
		position: static;
		background-color: #181818;
		color: white;
		border: 2px solid #303030;
		border-radius: 8px;
		box-shadow: -3px 3px 8px 4px #0007;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 5px;
		margin: 20px 60px;

		padding: 0;

		& > * {
			padding: 5px 10px;
		}

		header {
			display: flex;
			justify-content: space-between;
			background-color: #0007;

			.close-button {
				margin-left: auto;
			}
		}

		footer {
			display: flex;
			justify-content: flex-end;
		}
	}
</style>