<template>
    <div class="select" :class="{open}" @click.self="open = !open">
        <div class="selected-option" @click="open = !open">
            {{ selected_option }}
        </div>

        <div class="options">
            <div class="options-inner">

                <div class="option"
                    v-for="option in alternatives"
                    :key="`select-option-${option.value}`"
                    @click.stop="selectOption(option)"
                >
                    {{ option.label }}
                </div>
  
            </div>
            <slot>

            </slot>
        </div>
    </div>

</template>

<script>
export default {
    props: ['options', 'modelValue', 'placeholder'],
    data() {
        return {
            open: false
        }
    },

    methods: {
        selectOption(option) {
            this.value = option.value;
            this.open = false;
        }
    },

    computed: {
        value: {
            get() {
                return this.modelValue;
            },

            set(new_value) {
                this.$emit('update:modelValue', new_value);
            }
        },
        selected_option() {
            return this.options.find(option => option.value === this.modelValue)?.label || this.placeholder || 'Choose One';
        },

        alternatives() {
            return this.options.filter(option => option.value !== this.modelValue);
        }
    }
}
</script>

<style lang="scss" scoped>
.select {
    display: grid;
    grid-template-columns: minmax(0px, 1fr);
    grid-template-rows: 40px minmax(0px auto);
    height: 40px;
    padding-right: calc(var(--input-padding-y) + 25px);
    
    background-color: black;
    border: 1px solid transparent;
    color: white;

    position: relative;
    max-width: min(100%, 100vw);

    
    .option, .selected-option {
        height: 40px;
        display: flex;
        align-items: center;
        padding: var(--input-padding-y) var(--input-padding-x);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        
    }

    &.open {
        border-color: #bbb;
    }


    &::after {
        width: 10px;
        height: 10px;
        position: absolute;
        right: 10px;
        top: 0px;
        transform: translateY(12px) rotate(45deg) ;
        content: '';
        border: 1px solid white;
        border-width: 0 1px 1px 0;
        cursor: pointer;
    }


    .options {
        position: relative;
        bottom: 2px;
        left: -1px;
        width: 100%;
        background: black;
        z-index: 100;
        border: 1px solid #bbb;
        border-top-width: 0;
        visibility: hidden;
        max-height: 50vh;
        display: flex;
        flex-direction: column;
    }

    .options-inner {
        overflow-y: auto;
        height: 100%;
    }

    &.open .options {
        visibility: visible;
    }
}
</style>